<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Contenedor del perfil -->
  <div class="profile-container">
    <h2>Hola {{ userName || 'Tu nombre' }}</h2>

    <ion-button size="small" fill="outline" (click)="openProfileModal()">
      Cambiar nombre
    </ion-button>
  </div>

  <!-- Contenedor gris de Usuario + Presupuesto -->
  <div class="info-card">
    <ion-list>
      <ion-list-header class="info-title">Tu información</ion-list-header>

      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-note slot="end">{{ userName }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Presupuesto Mensual</ion-label>
        <ion-note slot="end">
          {{ budgetValue | currency:'COP':'symbol':'1.0-0':'es-CO' }}
        </ion-note>
      </ion-item>
    </ion-list>
  </div>

  <!-- Contenedor gris de información de la App -->
  <div class="info-card">
    <ion-list>
      <ion-list-header class="info-title">Información de la App</ion-list-header>

      <ion-item>
        <ion-label>Versión</ion-label>
        <ion-note slot="end">{{ version }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-note slot="end">{{ today }}</ion-note>
      </ion-item>

      <!-- Nueva sección académica -->
      <ion-list-header class="info-title">Datos del Curso</ion-list-header>

      <ion-item>
        <ion-label>Curso</ion-label>
        <ion-note slot="end">Énfasis en Programación Móvil</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Código</ion-label>
        <ion-note slot="end">B02--11</ion-note>
      </ion-item>

      <ion-list-header class="info-title">Integrantes</ion-list-header>

      <ion-item>
        <ion-label class="multi-line">
          Jesús Daniel Ramírez Rivera<br>
          Santiago Ramírez Atuesta<br>
          Deyvid Santiago Prada Ramos
          
        </ion-label>
      </ion-item>

    </ion-list>
  </div>

</ion-content>