.profile-container {
  text-align: center;
  margin-top: 20px;
}

.info-card {
  margin-top: 25px;
  padding: 12px;
  border-radius: 12px;
  background: var(--ion-color-light-tint);
}

.info-title {
  font-weight: 600;
  margin-bottom: 8px;
}