<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alerts" href="/tabs/alerts">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Alertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="summary" href="/tabs/summary">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Resumen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
