/* src/app/pages/history/history.page.scss */
ion-badge {
  font-size: 0.7rem;
  text-transform: capitalize;
}

ion-item {
  --padding-start: 8px;
  --inner-padding-end: 8px;
}

ion-icon {
  font-size: 1.2rem;
}

ion-label p small {
  opacity: 0.7;
}

.ion-text-wrap {
  white-space: normal;
}

ion-segment {
  --background: transparent;
}

ion-segment-button {
  --indicator-color: var(--ion-color-primary);
  min-height: 36px;
}
