// summary.page.scss
.budget-progress {
  text-align: center;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.percentage {
  margin-top: 8px;
  font-weight: bold;
  font-size: 16px;
}

.alert-message {
  margin-top: 10px;
  padding: 8px;
  background: var(--ion-color-warning-tint);
  border-radius: 8px;
  font-weight: bold;
}
